<ion-view view-title="Ionic Form Validation">
  <ion-content class="padding">
    <form name="myForm" novalidate="" ng-submit="login(myForm)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <!-- ng-pattern is used to validate the email -->
          <input type="email" name="email" ng-model="user.email" required ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }">
        </label>
        <!-- Error Container for Email -->
        <div class="validation-error" ng-class="{'is-dirty':myForm.email.$dirty}" ng-messages="myForm.email.$error" role="alert">
          <div ng-messages-include="validation-errors.html"></div>
        </div>
        <!-- /Error Container for Email -->

        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" name="password" ng-model="user.password" ng-minlength="5" ng-maxlength="20" required ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }">
        </label>
        <!-- Error Container for Password -->
        <div class="validation-error" ng-class="{'is-dirty':myForm.password.$dirty}" ng-messages="myForm.password.$error" role="alert">
          <div ng-messages-include="validation-errors.html"></div>
        </div>
        <!-- /Error Container for Password -->

      </div>
      <button class="button button-full button-positive" ng-disabled="myForm.$invalid" type="submit">
        Login
      </button>
    </form>
  </ion-content>
</ion-view>
<script id="validation-errors.html" type="text/ng-template">
<!-- This block can be implemented if we only validate the email based on the type,
         without using a pattern for it. -->
    <!--div class="error" ng-message="email">
      <i class="ion-information-circled"></i> Invalid email.
    </div-->
    <div class="error" ng-message="pattern">
      <i class="ion-information-circled"></i> Invalid email.
    </div>
    <div class="error" ng-message="required">
      <i class="ion-information-circled"></i> Please fill out this field.
    </div>
    <div class="error" ng-message="minlength">
      <i class="ion-information-circled"></i> At least 5 characters needed for password.
    </div>
    <div class="error" ng-message="maxlength">
      <i class="ion-information-circled"></i> Maximum number of characters reached.
    </div>
</script>
