/* Empty. Add your own CSS if you like */
.validation-error {
  border-top: 4px solid #b83e2c;
  padding: 15px;
  padding-top: 5px;
  margin-bottom: 15px;
  height: 15px;
  opacity: 0;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
.validation-error.ng-active.is-dirty {
  opacity: 1;
}
.validation-error.ng-inactive {
  opacity: 0;
}
.error {
  color: #555;
  background-color: #fff;
  font-weight: bold;
  position: absolute;
  left: 20px;
  float: left;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
.error i {
  color: #b83e2c;
  vertical-align: middle;
}
.error.ng-enter {
  animation-name: enter;
  animation-duration: 0.8s;
}
.error.ng-leave {
  animation-name: leave;
  animation-duration: 0.8s;
}
@keyframes enter {
  from {
    left: -2000px;
  }
  to {
    left: 20px;
  }
}
@keyframes leave {
  from {
    left: 20px;
  }
  to {
    left: -2000px;
  }
}
button,
.bar-positive {
  border-color: #ed591e !important;
  background-color: #ed591e !important;
}

